:root {
    --color--background: #03071e;
    --color--first: #fff;
    --font--family: cursive, sans-serif;

    --color--normal: #ced4da;
    --color--fighting: #ffa69e;
    --color--flying: #90e0ef;
    --color--poison: #7b2cbf;
    --color--ground: #6c757d;
    --color--rock: #343a40;
    --color--bug: #9c6644;
    --color--ghost: #a5a5a5;
    --color--steel: #9fb8d1;
    --color--fire: #d00000;
    --color--water: #0582ca;
    --color--grass: #008000;
    --color--electric: #ffc300;
    --color--psychic: #ffe566;
    --color--ice: #caf0f8;
    --color--dragon: #e85d04;
    --color--dark: #3c1642;
    --color--fairy: #74c69d;
    --color--unknown: #02c39a;
    --color--shadow: #22223b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font--family);
    background-color: var(--color--background);
    color: var(--color--background);
    font-weight: bold;
}

/*  ***** HEADER *****  */
.container-slider {
    width: 90%;
    max-width: 700px;
    margin: auto;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 5px 25px,
        0 15px 50px;
    position: relative;
}

.slider {
    display: flex;
    width: 400%;
    height: 400px;
    margin-left: -100%;
}

.slider_section {
    width: 100%;
}

.slider_img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider_btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    color: var(--color--background);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    transition: all .2s ease;
    cursor: pointer;
}

.slider_btn:hover {
    background: var(--color--background);
    color: var(--color--first);
    box-shadow: 0 0 15px,
        0 0 35px;
}

.slider_btn-left {
    left: 10px;
}

.slider_btn-right {
    right: 10px;
}

/*  ***** MAIN *****  */
nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: var(--color--background);
    margin-top: 10px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    gap: 30px;
    color: var(--color--first);
    font-size: 1em;
}

.form img {
    max-width: 150px;
}

.inpBtn {
    display: flex;
    gap: 10px;
    align-items: center;
}

.inpBtn select {
    height: 30px;
    padding-left: 10px;
    font-family: var(--font--family);
    border-radius: 15px;
}

.inputBox {
    position: relative;
    width: 200px;
    margin-left: 10px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 195, 0, 0.5);
    background: var(--color--background);
    border-radius: 15px;
    outline: none;
    transition: 0.5s;
    color: var(--color--first);
}

.inputBox h1 {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 195, 0, .5);
    transition: 0.5s;
    top: -4px;
}

.inputBox input:valid~h1,
.inputBox input:focus~h1 {
    transform: translateX(10px) translateY(-3px);
    font-size: 0.75em;
    padding: 0 10px;
    background: var(--color--background);
    letter-spacing: 0.2em;
    color: var(--color--electric);
    border-left: 1px solid var(--color--electric);
    border-right: 1px solid var(--color--electric);
}

.inputBox input:valid,
.inputBox input:focus {
    border: 1px solid var(--color--electric);
    font-family: var(--font--family);
}

.inpBtn button {
    background: var(--color--background);
    color: var(--color--first);
    font-family: var(--font--family);
    padding: 5px 10px;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 15px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.inpBtn button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, var(--color--flying), var(--color--electric), var(--color--water), var(--color--fire), var(--color--poison), var(--color--dragon), var(--color--fighting), var(--color--unknown), var(--color--flying));
    background-size: 800%;
    border-radius: 12px;
    filter: blur(8px);
    animation: backgroundGradient 20s linear infinite;
}

@keyframes backgroundGradient {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* COLORS CARDS & LIGHTBOX*/
.normal {
    background: var(--color--normal);
}

.normal:hover {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--normal),
        0 0 50px var(--color--normal),
        0 0 100px var(--color--normal);
}

.fighting {
    background: var(--color--fighting);
}

.fighting:hover {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--fighting),
        0 0 50px var(--color--fighting),
        0 0 100px var(--color--fighting);
}

.flying {
    background: var(--color--flying);
}

.flying:hover {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--flying),
        0 0 50px var(--color--flying),
        0 0 100px var(--color--flying);
}

.poison {
    background: var(--color--poison);
}

.poison:hover {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--poison),
        0 0 50px var(--color--poison),
        0 0 100px var(--color--poison);
}

.ground {
    background: var(--color--ground);
}

.ground:hover {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--ground),
        0 0 50px var(--color--ground),
        0 0 100px var(--color--ground);
}

.rock {
    background: var(--color--rock);
}

.rock:hover {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--rock),
        0 0 50px var(--color--rock),
        0 0 100px var(--color--rock);
}

.bug {
    background: var(--color--bug);
}

.bug:hover {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--bug),
        0 0 50px var(--color--bug),
        0 0 100px var(--color--bug);
}

.ghost {
    background: var(--color--ghost);
}

.ghost:hover {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--ghost),
        0 0 50px var(--color--ghost),
        0 0 100px var(--color--ghost);
}

.steel {
    background: var(--color--steel);
}

.steel:hover {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--steel),
        0 0 50px var(--color--steel),
        0 0 100px var(--color--steel);
}

.fire {
    background: var(--color--fire);
}

.fire:hover {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--fire),
        0 0 50px var(--color--fire),
        0 0 100px var(--color--fire);
}

.water {
    background: var(--color--water);
}

.water:hover {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--water),
        0 0 50px var(--color--water),
        0 0 100px var(--color--water);
}

.grass {
    background: var(--color--grass);
}

.grass:hover {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--grass),
        0 0 50px var(--color--grass),
        0 0 100px var(--color--grass);
}

.electric {
    background: var(--color--electric);
}

.electric:hover {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--electric),
        0 0 50px var(--color--electric),
        0 0 100px var(--color--electric);
}

.psychic {
    background: var(--color--psychic);
}

.psychic:hover {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--psychic),
        0 0 50px var(--color--psychic),
        0 0 100px var(--color--psychic);
}

.ice {
    background: var(--color--ice);
}

.ice:hover {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--ice),
        0 0 50px var(--color--ice),
        0 0 100px var(--color--ice);
}

.dragon {
    background: var(--color--dragon);
}

.dragon:hover {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--dragon),
        0 0 50px var(--color--dragon),
        0 0 100px var(--color--dragon);
}

.dark {
    background: var(--color--dark);
    color: var(--color--first);
}

.dark:hover {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--dark),
        0 0 50px var(--color--dark),
        0 0 100px var(--color--dark);
}

.fairy {
    background: var(--color--fairy);
}

.fairy:hover {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--fairy),
        0 0 50px var(--color--fairy),
        0 0 100px var(--color--fairy);
}

.unknown {
    background: var(--color--unknown);
}

.unknown:hover {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--unknown),
        0 0 50px var(--color--unknown),
        0 0 100px var(--color--unknown);
}

.shadow {
    background: var(--color--shadow);
    color: var(--color--first);
}

.shadow:hover {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--shadow),
        0 0 50px var(--color--shadow),
        0 0 100px var(--color--shadow);
}

/* CARDS */
.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 25px;
    margin: 20px;
}

.box {
    display: grid;
    grid-template: 1fr/1fr;
    grid-template-areas: 'img';
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    text-transform: capitalize;
    padding: 5px;
}

.box img {
    width: 70%;
    object-fit: cover;
    grid-area: img;
    margin: auto;
}

/* COLORS LIGHTBOX */
.normalLight {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--normal),
        0 0 50px var(--color--normal),
        0 0 100px var(--color--normal);
}

.normalLight span {
    color: var(--color--normal);
}

.fightingLight {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--fighting),
        0 0 50px var(--color--fighting),
        0 0 100px var(--color--fighting);
}

.fightingLight span {
    color: var(--color--fighting);
}

.flyingLight {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--flying),
        0 0 50px var(--color--flying),
        0 0 100px var(--color--flying);
}

.flyingLight span {
    color: var(--color--flying);
}

.poisonLight {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--poison),
        0 0 50px var(--color--poison),
        0 0 100px var(--color--poison);
}

.poisonLight span {
    color: var(--color--poison);
}

.groundLight {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--ground),
        0 0 50px var(--color--ground),
        0 0 100px var(--color--ground);
}

.groundLight span {
    color: var(--color--ground);
}

.rockLight {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--rock),
        0 0 50px var(--color--rock),
        0 0 100px var(--color--rock);
}

.rockLight span {
    color: var(--color--rock);
}

.bugLight {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--bug),
        0 0 50px var(--color--bug),
        0 0 100px var(--color--bug);
}

.bugLight span {
    color: var(--color--bug);
}

.ghostLight {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--ghost),
        0 0 50px var(--color--ghost),
        0 0 100px var(--color--ghost);
}

.ghostLight span {
    color: var(--color--ghost);
}

.steelLight {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--steel),
        0 0 50px var(--color--steel),
        0 0 100px var(--color--steel);
}

.steelLight span {
    color: var(--color--steel);
}

.fireLight {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--fire),
        0 0 50px var(--color--fire),
        0 0 100px var(--color--fire);
}

.fireLight span {
    color: var(--color--fire);
}

.waterLight {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--water),
        0 0 50px var(--color--water),
        0 0 100px var(--color--water);
}

.waterLight span {
    color: var(--color--water);
}

.grassLight {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--grass),
        0 0 50px var(--color--grass),
        0 0 100px var(--color--grass);
}

.grassLight span {
    color: var(--color--grass);
}

.electricLight {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--electric),
        0 0 50px var(--color--electric),
        0 0 100px var(--color--electric);
}

.electricLight span {
    color: var(--color--electric);
}

.psychicLight {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--psychic),
        0 0 50px var(--color--psychic),
        0 0 100px var(--color--psychic);
}

.psychicLight span {
    color: var(--color--psychic);
}

.iceLight {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--ice),
        0 0 50px var(--color--ice),
        0 0 100px var(--color--ice);
}

.iceLight span {
    color: var(--color--ice);
}

.dragonLight {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--dragon),
        0 0 50px var(--color--dragon),
        0 0 100px var(--color--dragon);
}

.dragonLight span {
    color: var(--color--dragon);
}

.darkLight {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--dark),
        0 0 50px var(--color--dark),
        0 0 100px var(--color--dark);
    color: var(--color--first);
}

.darkLight span {
    color: var(--color--dark);
}

.fairyLight {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--fairy),
        0 0 50px var(--color--fairy),
        0 0 100px var(--color--fairy);
}

.fairyLight span {
    color: var(--color--fairy);
}

.unknownLight {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--unknown),
        0 0 50px var(--color--unknown),
        0 0 100px var(--color--unknown);
}

.unknownLight span {
    color: var(--color--unknown);
}

.shadowLight {
    box-shadow: 0 0 5px var(--color--background),
        0 0 25px var(--color--shadow),
        0 0 50px var(--color--shadow),
        0 0 100px var(--color--shadow);
    color: var(--color--first);
}

.shadowLight span {
    color: var(--color--shadow);
}

/* LIGHTBOX */
.lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--color--background);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
}

.lightboxContainer {
    width: 80%;
    background: var(--color--background);
    color: var(--color--first);
    border-radius: 15px;
    position: relative;
    text-align: center;
}

.btnClose {
    position: absolute;
    font-size: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
    cursor: pointer;
    box-shadow: none;
    background-color: var(--color--background);
    color: var(--color--first);
}

.btnClose:hover {
    transform: scale(1.2);
}

.infoContainer {
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.infoContainer .nameImg h2 {
    width: 170px;
    border-radius: 15px;
    margin: auto;
}

.infoContainer .nameImg img {
    width: 180px;
}

.infoContainer .info {
    line-height: .9em;
    font-weight: normal;
}

@media only screen and (min-width:720px) {
    .infoContainer {
        display: flex;
        margin: 20px;
    }

    .infoContainer .info {
        margin-left: 50px;
        line-height: 1.3em;
    }
}

footer {
    border-radius: 15px 15px 0 0;
    background: var(--color--background);
    padding: 5px;
    box-shadow: 0 0 5px var(--color--electric),
        0 0 25px var(--color--electric);
    color: var(--color--first);
    text-align: center;
}

footer div h4 {
    color: var(--color--electric);
}

footer div a {
    margin: 10px;
    text-decoration: none;
}

footer .copy {
    font-size: 10px;
    margin-top: 5px;
}